@charset "UTF-8";
@font-face {
  font-family: "Lufga";
  src: url("../fonts/Fontspring-DEMO-lufga-medium.eot");
  src: local("вє"), url("../fonts/Fontspring-DEMO-lufga-medium.woff") format("woff"),
    url("../fonts/Fontspring-DEMO-lufga-medium.ttf") format("truetype"),
    url("../fonts/Fontspring-DEMO-lufga-medium.svg") format("svg");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Lufga";
  src: url("../fonts/Fontspring-DEMO-lufga-regular.eot");
  src: local("вє"), url("../fonts/Fontspring-DEMO-lufga-regular.woff") format("woff"),
    url("../fonts/Fontspring-DEMO-lufga-regular.ttf") format("truetype"),
    url("../fonts/Fontspring-DEMO-lufga-regular.svg") format("svg");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Lufga";
  src: url("../fonts/Fontspring-DEMO-lufga-semibold.eot");
  src: local("вє"), url("../fonts/Fontspring-DEMO-lufga-semibold.woff") format("woff"),
    url("../fonts/Fontspring-DEMO-lufga-semibold.ttf") format("truetype"),
    url("../fonts/Fontspring-DEMO-lufga-semibold.svg") format("svg");
  font-weight: 600;
  font-style: normal;
}

/*РћР±РЅСѓР»РµРЅРёРµ*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}
/*--------------------*/

.none{
  display: none;
}
.empty-bag{
  background: #FFFFFF;
  box-shadow: inset 4px 4px 4px rgba(9, 129, 230, 0.25);
  /* box-shadow: 5px 5px 15px rgba(9, 129, 230, 0.1); */
  border-radius: 10px;
  width: 100%;
  min-height: 53px;
  padding: 15px;
  margin-bottom: 20px;
}
.empty-bag p{
  color: #5fb6fd;
}
body{
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  background: url(../../assets/images/books-background-icons.png) repeat;

  /* font-family: 'Roboto Slab', serif; */
}
/*-------Header-------------*/
.header {
  /* position: sticky; */
  /* top: 30px; */
  margin: 0 auto;
  padding: 0 15px;
  background: #F1F7FF;
}
.header-body{
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.content {
  max-width: 1280px;
  margin: 0 auto;
}
.header-logo img{
  max-width: 157px;
}
.nav-items {
  display: flex;
  min-width: 766px;
  justify-content: space-between;
  align-items: center;
  margin-left: 20px;
}

.booking-cart a{
  display: block;
  position: relative;
  /* width: 33px;
  height: 33px; */
  margin-right: 20px;
  
  
}
.booking-cart-count{
  position: absolute;
  top: -18px;
  right: -18px;
  width: 33px;
  height: 33px;

  font-family: 'Arial';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  color: #FFFFFF;
  padding-top: 5px;
  text-align: center;

  min-width: 24px;
  min-height: 24px;
  background: #0981E6;
  border: 3px solid #FFFFFF;
  border-radius: 50%;
}

.nav-item a{
  font-size: 16px;
  line-height: 18px;
  color: #6D6D6D;
}
.active-hover-animation {
  display: inline-block;
  position: relative;
}
.active a{
  color: #181818;
  border-bottom: 3px #0981E6 solid;
}
.active-hover-animation:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 3px;
  bottom: -2px;
  left: 0;
  background-color: #0981E6;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}
.active-hover-animation:hover:after{
transform: scaleX(1);
transform-origin: bottom left;
}
.register-button{
  max-width: 149px;
  min-height: 33px;
  background: #0981E6;
  border-radius: 5px;
  padding: 7px 43px;
  transition: all 0.5s ease;
} 
.register-button a{
  font-size: 16px;
  line-height: 18px;
  color: #FFFFFF;
}
.register-button:hover{
  box-shadow: 0px 0px 15px rgba(9, 129, 230, 0.5);
}
/*-------End of Header-------------*/


/*-------Order form-------------*/
.main-page{
  background: url('../../assets/images/order_form_bg/right\ blue\ object\ 1.png ') bottom left / 298px 220px no-repeat,
  url('../../assets/images/order_form_bg/left\ blue\ object\ 1.png') bottom right / 553px 326px no-repeat;
  min-height: 730px;
}
.order-form{
  margin-bottom: 60px;
}
.order-form-title{
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 500;
  font-size: 35px;
  line-height: 46px;
  text-align: center;

  color: #0981E6;
  margin: 30px 0;
}

.left-side{
  margin-right: 40px;
}

.order-form-block{
  background: rgba(241, 247, 255, 0.5);
  border: 1px solid rgba(9, 129, 230, 0.15);
  backdrop-filter: blur(1px);
  border-radius: 10px;

  max-width: 800px;
  /* min-height: 604px; */

  margin: 0 auto ;
  padding: 15px 50px 35px;

  display: flex;
  justify-content: space-between;
}
.input-control{
  display: flex;
  flex-direction: column;
}
.input-control label,
.input-title{
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #0981E6;
  margin: 0 0 5px 15px;
}


.input-control input{
  min-width: 350px;

  background: #FFFFFF;
  border: 1px solid rgba(9, 129, 230, 0.2);
  border-radius: 10px;

  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 20px;
  color: #0981E6;
  padding: 10px 15px;
}
input{
  transition: all 0.5s ease;
}
input::placeholder{
  color: #0981E666
}
input:focus{
  background: #FFFFFF;
  border: 1px solid rgba(9, 129, 230, 0.66);
  box-shadow: inset 2px 2px 5px rgba(9, 129, 230, 0.31);
}
/*-------Error styles -------------*/
.input-control input:focus {
  outline: 0;
}
.input-control.success input{
  border-color: #0fba0069;
}
.input-control.error input{
  border-color: #e609098f;
}
.input-control .error {
  color: #E60909;
  font-size: 13px;
  height: 13px;
  margin: 3px 0 0px 16px;
}
/*-------End OF Error styles -------------*/


/*-------right side-------------*/

.right-side{
  display: flex;
  flex-direction: column;
}
.gift-block{
  background: #FFFFFF;
  border: 1px solid rgba(9, 129, 230, 0.2);
  border-radius: 10px;
  padding: 15px 15px 5px 15px;
}
.checkbox-body{
  cursor: pointer;

  display: flex;
  align-items: center;
  min-width: 177px;
  min-height: 68px;

  background: #FFFFFF;
  border: 1px solid rgba(9, 129, 230, 0.2);
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 10px;

  transition: all 0.5s ease;
}
.checkbox-body img{
  margin-right: 10px;
  max-width: 30px;
}
.checkbox-body:hover{
  border: 1px solid #0981E6;
}
.checkbox-body h3{
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 17px;
  text-align: left;

  color: #0981E6;
  max-width: 180px;
}
input[type="checkbox"]{
  background-color: #0981E6;
  cursor: pointer;
  width: 20px;
  height: 20px;
  margin-right:10px;
}
input[type="checkbox"]:checked + label::after {
  border: 1px solid #0981E6;
}
/*-------Payment radio checkbox -------------*/
.payment-title{
  margin-top: 10px;

}
.payment-body {
  display: flex;
}
.payment{
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}
.payment-body p{
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  cursor: pointer;
  color: #0981E6;

  display: block;
  background: #FFFFFF;
  border: 1px solid rgba(9, 129, 230, 0.2);
  border-radius: 10px;

  display: flex;
  min-width: 80px;
  justify-content: space-between;
  padding: 11px 15px;
}
.payment-item-body{
  margin-right: 10px;
}
.payment-item{
  margin-right: 10px;
  width: 20px;
  height: 20px;
}
.complete-button{
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;

  color: #FFFFFF;
  
  background: #0981E6;
  border-radius: 10px;

  width: 100%;
  padding: 12px;
  margin-top: 20px;
  transition: all 0.5s ease;
}
.complete-button:hover{
  box-shadow: 0px 0px 15px rgba(9, 129, 230, 0.5);
}

/*-------End of Payment radio checkbox -------------*/



/*-------Modal for order form -------------*/

.modal-block{
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
 
  align-items: center;
}
.modal-block-body{
  width: 500px;
  background: #FFFFFF;
  box-shadow: 0px 0px 12px 7px rgba(0, 83, 153, 0.13);  border-radius: 10px;
  padding: 35px 55px;

  display: flex;
  flex-direction: column;
}
.checked-icon{
  width: 60px;
  height: 60px;
  margin: 0 auto 15px;
}
.modal-title{
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 33px;
  text-align: center;
  color: #0981E6;
  margin-bottom: 15px;
}
.order-description{
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 29px;
  text-align: center;
  color: #181818;

  margin-bottom: 15px;
}
.back-to-main{
  display: flex;
}
.modal-block-close-button{
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  text-align: center;

  color: #0981E6;

  background: #FFFFFF;
  border: 1px solid #0981E6;
  border-radius: 5px;
  padding: 6px 25px;
  max-width: 220px;
  margin: 0 auto;

  transition: all 0.5s ease;
}
.modal-block-close-button:hover{
  background: #0981E6;
  box-shadow: 0px 4px 4px rgba(9, 129, 230, 0.25);
  color: #FFFFFF;
}


.cursor-not-allowed{
  cursor: not-allowed;
}
.cursor-pointer{
  cursor: pointer;
}
/*-------End of Modal for order form -------------*/

/*-------End of right side-------------*/

/*-------End of Order form-------------*/


/*-------Footer-------------*/
.footer-body{
  display: flex;
  flex-direction:  column;

  background: linear-gradient(268.27deg, rgba(9, 129, 230, 0.21) -36.17%, rgba(9, 129, 230, 0.01) 120.2%);
  backdrop-filter: blur(2px);
}
.footer-nav{
  display: flex;
  justify-content: space-between;
  margin: 60px 0;
}
.footer-nav-item{
  min-width: 360px;
  align-items: center;
  text-align: center;
  margin: 0 30px;
}
.footer-nav-title{
  width: 360px;
  min-height: 29spx;
  background: #0981E6;
  border-radius: 5px;

  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;

  color: #FFFFFF;
  padding: 5px 10px;
  margin-bottom: 20px;
}
.footer-nav-list{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer-nav-list a{
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  text-align: center;

  color: #0981E6;
  max-width: 280px;
  margin-bottom: 10px;
}
.footer-rsschool-logo img{
  max-width: 110px;
}
.footer-floor{
  background: #0981E6;
  padding: 12px 0;
}
.footer-floor-body{
  display: flex;
  max-width: 586px;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
}
.footer-bookshop-logo img{
  width: 97px;
}
.all-rights{
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;

  color: #FFFFFF;
}
.footer-rsschool-logo img{
  max-width: 110px;
}
/*-------End of Footer-------------*/
